* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body{
  background-color: black;
  color: white;
}

.pDiv1 {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.pDiv1::-webkit-scrollbar {
  display: none;
} 

.rowDisplayContainer {
  width:100%;
  padding: 10px;
}
.rowTitle {
  padding: 20px 0px;
 font-weight:700;
 font-size: 24px;
}
