 
  .slideshow {    
    width: 100%;
    margin: 20px auto;
  }  

  
  .bulleted-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px ;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    margin: 0 2px;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: skyblue;
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    font-size: 2em;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  